{% extends 'app_main/base.html' %} 
{% load static %} 
{% load customtags %} 
{% block title %}{{obj.title}} | Movie Pagol{% endblock title %} 
{% block description %}{{obj.description|truncatechars:500}}{% endblock description %} 
{% block twittertitle %}{{obj.title}} | Movie Pagol{% endblock twittertitle %} 
{% block twitterdescription %}{{obj.description|truncatechars:500}}{% endblock twitterdescription %}
{% block twitterimg %}{% if obj.tmdb_thumbnail %}{{obj.tmdb_thumbnail}}{% elif obj.thumbnail %}{{ SITE_URL }}{{obj.thumbnail.url}}{% endif %}{% endblock twitterimg %}
{% block ogtitle %}{{obj.title}} | Movie Pagol{% endblock ogtitle %} {% block ogtype %}{{obj.type}}{% endblock ogtype%}
{% block ogimage %}{% if obj.tmdb_thumbnail %}{{obj.tmdb_thumbnail}}{% elif obj.thumbnail %}{{ SITE_URL }}{{obj.thumbnail.url}}{% endif %}{% endblock ogimage %}
{% block ogdescription %}{{obj.description|truncatechars:500}}{% endblock ogdescription %}

{% block content %}
<div class="content-details">
    <div class="container">
        <div class="content-details-wrapper">
            <div class="flex-shrink-0 w-max max-w-full mx-auto md:max-w-xs">
                <img
                    class="w-full"
                    src="{% if obj.tmdb_thumbnail %}{{obj.tmdb_thumbnail}}{% elif obj.thumbnail %}{{obj.thumbnail.url}}{% endif %}"
                    alt="thumbnail"
                    loading="lazy"
                />
                {% include 'app_main/components/action_links.html' %}
            </div>
            {% include 'app_main/components/content_details.html' %}
        </div>
        {% include 'app_main/components/still_path.html' %}
        {% include 'app_main/components/social_links.html' %}
       
    </div>
</div>

<!-- Recommend Section -->
{% include 'app_main/components/recommended_contents.html' %}
<!-- End Recommend Section -->

{% comment %} {% include 'app_main/components/comments.html' %} {% endcomment %}

{% endblock content %}
