.section-header {
    @apply mb-8 pl-3 font-medium border-l-[var(--main-color)] flex justify-between items-center border-l-2;
    h3{
        @apply capitalize text-xl leading-none mt-0.5;
    }
}

.total-view-down-infos {
    @apply mt-4 flex items-center gap-2 text-sm md:justify-start xl:justify-end;
    div {
        @apply border border-secondary-light px-3 py-1 text-secondary-light;
    }
    i {
        @apply mr-2;
    }
}

.content-infos {
    @apply flex flex-wrap items-center justify-center gap-2 text-secondary-lighter md:justify-start;
    .content-info {
        @apply flex items-center gap-1 font-medium;
        i {
            @apply -mt-[.15em] text-[95%] text-blue-500;
        }
        span {
            @apply text-[85%];
        }
    }
    .meta-infos {
        @apply flex flex-wrap gap-3 text-sm font-bold;
        .meta-info-1 {
            @apply rounded-sm border-2 border-white px-1.5 py-0.5 text-white;
        }
        .meta-info-2 {
            @apply rounded-sm border-2 border-white bg-white px-1.5 py-0.5 text-neutral-900;
        }
    }
    .trailer-btn {
        @apply flex items-center rounded-sm border-2 bg-white px-1.5 py-0.5 text-sm font-bold capitalize text-neutral-900 transition-all hover:ring;
        i{
            @apply inline-block mr-1;
        }
        span{
            @apply inline-block;
        }
    }

    .ti.ti-point-filled {
        @apply text-xs;
    }
}

.all-contents {
    @apply flex flex-wrap justify-center gap-2;
}
.all-content-item {
    @apply relative block w-col-2 cursor-pointer overflow-hidden bg-white transition-all sm:w-col-3 md:w-col-4 lg:w-col-5 xl:w-col-6 2xl:w-col-7 isolate;
    aspect-ratio: 2/3;
    img {
        @apply block absolute inset-0 w-full h-full transition-all duration-300 scale-105 -z-20;
        backface-visibility: hidden;
    }
    &:hover {
        img {
            @apply scale-110;
        }
    }
}

.info1 {
    @apply absolute left-2 top-2 z-10 rounded-sm bg-red-500 px-1.5 py-0.5 text-xs font-semibold text-white;
}
.info2 {
    @apply absolute right-2 top-2 z-10 rounded-sm bg-white px-1.5 py-0.5 text-xs font-semibold text-gray-700;
} 

.card-overlay {
    @apply block absolute inset-0 -z-10;
    background-image: linear-gradient(
        to top,
        rgb(0, 0, 0) 0%,
        rgba(0, 0, 0, 0.3) 50%,
        rgba(0, 0, 0, 0.15) 65%,
        rgba(0, 0, 0, 0.075) 75.5%,
        rgba(0, 0, 0, 0.037) 82.85%,
        rgba(0, 0, 0, 0.019) 88%,
        rgba(0, 0, 0, 0) 100%
    );
}