// HERO SLIDER START
.hero {
    &-slide {
        @apply relative isolate overflow-hidden;
        img {
            @apply absolute inset-0 h-full w-full object-cover;
        }
        &__content {
            @apply relative isolate flex h-max min-h-[unset] w-full flex-col pt-0;
            padding: 2.5rem 2.5rem 3.5rem;
        }

        &__title {
            @apply text-[calc(2.25vw+10px)] font-bold;
            font-family: var(--font-family-2);
            z-index: 1;
        }

        &__description {
            @apply mt-6 line-clamp-3 text-lg leading-tight text-slate-50/80;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            background: linear-gradient(to right, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.2));
        }
        // For hero slideer animation
        .top-down {
            transform: translateY(-16px);
            visibility: hidden;
            opacity: 0;
            transition: 0.5s ease-in-out;
        }

        .delay-2 {
            transition-delay: 0.2s;
        }

        .delay-4 {
            transition-delay: 0.4s;
        }

        .delay-6 {
            transition-delay: 0.6s;
        }

        .delay-8 {
            transition-delay: 0.8s;
        }
        .content-infos,
        .actions-container {
            @apply justify-start;
        }

        @screen md {
            height: calc(90vh - var(--nav-height));
            @apply max-h-[1024px];
            &__description {
                max-height: max-content;
                width: 100%;
            }

            &__content {
                @apply h-full justify-end pb-40 pl-40 md:w-7/12;
            }

            &__description {
                font-size: 1rem;
                line-height: 1.25rem;
                max-height: 90px;
            }
            .top-down {
                transform: translateY(-48px);
            }
        }
    }
}

// End

.slide-item {
    @apply relative block cursor-pointer overflow-hidden bg-white pt-[150%] isolate;
    img {
        display: none;
    }
    &__content {
        @apply absolute bottom-0 left-0 z-10 w-full p-2;
    }
    &__title {
        color: var(--text-color);
        @apply relative line-clamp-1 font-semibold;
    }
    .content-infos {
        @apply justify-start;
    }

}

/* Details Page ------------------------------------ */
// HERO SLIDER END

.slider__content {
    opacity: 0;
    animation-duration: 0.5s !important;
}

/* splide arrow customize */
.splide__arrow {
    background-color: rgba(51, 51, 51, 0.75) !important;
    width: 2rem !important;
    height: 2rem !important;
    color: #fff !important;
    border-radius: 0;
    border: none;
    outline: none;
    svg{
        @apply fill-current h-3 w-3;
    }
    &--prev {
        left: 0;
    }
    &--next {
        right: 0;
    }
}
.splide__slide.is-active .top-down {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
}

.splide__pagination__page {
    transition: all 0.25s linear;
    height: 3px;
    width: 10px;
    border-radius: 2px;
    background: rgba(204, 204, 204, 0.753) !important;
    &.is-active {
        transform: none;
        width: 30px;
        background: var(--main-color) !important;
        opacity: 1;
    }
}

.splide__slide .slide-item {
    &::after {
        content: "";
        @apply absolute w-0 h-full inset-0 mx-auto transition-all duration-300 -z-10;
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(1.5px);
    }
    &:hover {
        .play-btn i {
            @apply scale-100;
        }
        &::after {
            width: 100%;
        }
    }
    .content-infos {
        @apply sm:mt-1;
    }
}

.fancybox__thumbs .carousel__slide .fancybox__thumb::after {
    border-width: 3px;
    border-color: var(--main-color);
}

.episode-main {
    width: 100%;
    padding: 0;
    position: relative;
    overflow: hidden;
    font-size: 1rem;
}

:root {
    --primary-episode-padding: 1.5rem;
    --secondary-slider-padding-1: 0.5em;
    --margin-bottom-1: 0.5em;
}

#primary-slider {
    .splide__slide {
        height: unset !important;
        isolation: isolate;
        max-height: 1100px !important;

        .btn {
            padding: 0.45em 1em;
            margin-top: 5px;
            margin-right: 5px;
            font-size: 1em;
        }

        p {
            font-size: 1.15em;
            line-height: 1.25em;
            padding-bottom: var(--margin-bottom-1);
        }

        .item-action {
            margin-bottom: var(--margin-bottom-1);
        }

        h2 {
            font-size: 1.5em;
            margin-bottom: var(--margin-bottom-1);
        }

        .title {
            font-family: var(--font-family-2);
            letter-spacing: 2px;
            font-size: 2.15em;
            margin-bottom: var(--margin-bottom-1);
        }

        .episode-descript {
            min-height: 80px;
            max-height: 100px;
            overflow: auto;
            padding-right: 10px;

            &::-webkit-scrollbar {
                width: 4px;
            }
        }

        .dropdown {
            position: relative !important;
            margin-left: 0;

            a {
                font-size: 95%;
            }
        }

        .subtitle {
            padding-top: var(--margin-bottom-1);
            padding-bottom: var(--margin-bottom-1);

            a {
                font-size: 1em;
                border-bottom: 1px solid var(--main-color);
                color: var(--main-color);
            }
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            background: rgb(0, 0, 0);
            // background: linear-gradient(90deg, rgba(0, 0, 0, 0.92398) 14%, rgba(0, 0, 0, 0.893995) 33%, rgba(0, 0, 0, 0.737973) 53%, rgba(0, 0, 0, 0.69541) 60%, rgba(0, 0, 0, 0.3) 100%);
            background: linear-gradient(
                90deg,
                rgba(0, 0, 0, 0.872398) 10%,
                rgba(0, 0, 0, 0.813995) 36%,
                rgba(0, 0, 0, 0.727973) 49%,
                rgba(0, 0, 0, 0.63541) 66%,
                rgba(0, 0, 0, 0.3) 100%
            );

            // background-image: linear-gradient(to right, rgb(0, 0, 0) 0%,
            //         rgba(0, 0, 0, 0.5) 45%,
            //         rgba(0, 0, 0, 0.4) 53%,
            //         rgba(0, 0, 0, 0.3) 61%,
            //         rgba(0, 0, 0, 0.15) 76%,
            //         rgba(0, 0, 0, 0.075) 100%,
            //         rgba(0, 0, 0, 0.037) 100%,
            //         rgba(0, 0, 0, 0.019) 100%,
            //         rgba(0, 0, 0, 0) 100%);
        }
    }

    .primary-slider-content {
        padding: var(--primary-episode-padding);
    }
}

#secondary-slider {
    overflow: hidden;
    width: 100%;
    padding: 1rem var(--primary-episode-padding) 3rem var(--primary-episode-padding);

    .splide__track {
        overflow: visible;
    }

    .splide__slide {
        opacity: 0.9 !important;
        border: none !important;
        // height: unset !important;
        aspect-ratio: 16/9 !important;
        max-width: 300px !important;
        transition: all 0.4s ease;
        position: relative;
        cursor: grab;
        background-position: top !important;
        background-color: #191919;
        border-radius: var(--border-radius-1);
        overflow: hidden;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -2;
            background-image: linear-gradient(
                to top,
                rgb(0, 0, 0) 0%,
                rgba(0, 0, 0, 0.3) 45%,
                rgba(0, 0, 0, 0.2) 53%,
                rgba(0, 0, 0, 0.1) 61%,
                rgba(0, 0, 0, 0.15) 76%,
                rgba(0, 0, 0, 0.075) 100%,
                rgba(0, 0, 0, 0.037) 100%,
                rgba(0, 0, 0, 0.019) 100%,
                rgba(0, 0, 0, 0) 100%
            );
        }

        .content-infos {
            // margin-top: 5px;
            position: absolute;
            bottom: 0;
            padding: var(--secondary-slider-padding-1);
            width: 100%;
            margin: 0;

            .content-info {
                font-size: 1em;
            }
        }

        &.is-active.is-visible,
        &:hover {
            opacity: 1 !important;
            z-index: 2;
            transition: all 0.4s ease;
            /* box-shadow: 0 0 10px 2.5px #0a7cffb2; */
            transform: scale(1.075);
        }

        &.is-active.is-visible {
            /* transform: scale(1.15) translate(-5px) perspective(1000px) rotateY(25deg); */
            box-shadow: 0px 0px 5px 5px #98989888;
            transform: scale(1.1) perspective(500px) rotate3d(3, 5, -1, 20deg);
        }
    }

    .content {
        padding: 0 0 2em 0;
    }

    .ep-num {
        padding: var(--secondary-slider-padding-1);
        display: flex;
        justify-content: flex-start;
        height: 100%;
        align-items: flex-start;
        // h2 {
        //     font-size: 16px;
        // }
    }
}

@media screen and (min-width: 991px) {
    :root {
        --primary-episode-padding: 2rem;
        --secondary-slider-padding-1: 0.5em;
        --margin-bottom-1: 0.75em;
    }

    #primary-slider .splide__slide {
        min-height: 600px !important;
        height: calc(100vh - 60px) !important;

        .btn {
            margin-right: 15px;
        }

        .dropdown {
            margin-right: 15px;
        }

        .episode-descript {
            width: 65%;
            min-height: 120px;
            max-height: 140px;
        }
    }

    #secondary-slider {
        padding: 0rem var(--primary-episode-padding) 2rem var(--primary-episode-padding);
        position: absolute;
        left: 0;
        bottom: 1em;
    }
}

@media screen and (min-width: 1400px) {
    .episode-main {
        font-size: 1.15rem;
    }

    #primary-slider {
        .primary-slider-content {
            padding: 3rem;
        }
    }

    #secondary-slider {
        padding: 2rem 3rem;
    }
}
