{% extends 'app_main/base.html' %}
{% load static %}

{% block title %}About Us | Movie Pagol | Watch & Download Movies,TV-Series{% endblock title %}
{% block twittertitle %}About Us | Movie Pagol | Watch & Download Movies,TV-Series{% endblock twittertitle %}
{% block ogtitle %}About Us | Movie Pagol | Watch & Download Movies,TV-Series{% endblock ogtitle %}
{% block ogtype %}About Us{% endblock ogtype%}

{% block content %}
<div class="container" style="text-align:left">
    <h1 style="text-align: center; padding: 20px;">About Us</h1>
    <p>
        Movie Pagol is an online video streaming & downloading platform that offers amazing entertaining TV series and
        movies from here & around the world. We do not upload any pirated content on our website. We only collect
        movies
        from different websites and share the uploaded content on our website.
        <br>
        <br>
        Seamless Video Playback - Our adaptive video streaming technology ensures that the best possible video
        quality
        is played back automatically based on the available bandwidth, therefore making it a great video experience
        on
        both mobile networks as well as WiFi internet connections. Our video is optimized to play on mobile networks
        with inconsistent throughput so that our users don't have to compromise on their experience on the low end,
        and
        play HD quality video on the top end of bandwidth availability.
        <br>
        <br>
        Smart Search - Content search on Movie Pagol has been optimized to reduce complexity and delay in accessing
        content.
        Accurate search results, with lightning fast autocomplete suggestions navigate users to video with minimal
        navigation friction and ease of use.
        <br>
        <br>
        Friendly User Interface - Content organization on Movie Pagol is a result of a thoughtful user experience
        approach
        and strong design principles that ensure that the user is not overwhelmed with the breadth of content
        available.
        <br>
        <br>
        Hot Content Catalogue | Movie Pagol offers the latest and popular TV, movies and knowledge-based content all
        over
        the world.
        <br>
        <br>
        Access | Movie Pagol is available on the Google Play Store and Apple App Store for mobile and tablet
        applications
        and can be accessed at www.Movie Pagol.com.
        <br>
        <br>
        Amazing entertainment - TV shows and movies from here & around the world. Watch Bangladeshi stuff, Korean,
        LIVE
        sports, cool things, cute things, all kinds of awesome! Just play.
        <br>
        <br>
        We believe everybody should have access to entertainment without being tied to someone else’s schedule – the
        ability to access amazing content at an incredibly affordable price, on every device you own.
        <br>
        <br>
        We want to bring a world of entertainment to everyone who shares our passion for TV and movies. We want to
        give
        you the instant access to a lifetime’s worth of entertainment.
        <br>
        <br>
        We want to empower you by giving you more choice and quality than you can poke a stick at. We want you to
        rediscover epic moments from shows of the past, and share together the epic moments of the future.
        <br>
        <br>
        We’re committed to bringing all these things to as many people as possible.
        <br>
        <br>
        No more jumping-through-hoops required. Cause as far as we're concerned, life is complicated enough. Being
        entertained should be as easy as pressing a button.
        <br>
        <br>
        This is Movie Pagol. Let's play.</p>
</div>
{% endblock content %}