{% extends 'app_main/base.html' %}
{% load static %}

{% block title %}Contact Us | Movie Pagol | Watch & Download Movies,TV-Series{% endblock title %}
{% block twittertitle %}Contact Us | Movie Pagol | Watch & Download Movies,TV-Series{% endblock twittertitle %}
{% block ogtitle %}Contact Us | Movie Pagol | Watch & Download Movies,TV-Series{% endblock ogtitle %}
{% block ogtype %}Contact Us{% endblock ogtype%}

{% block content %}
<div class="section"></div>
<div class="container" style="text-align:center">
    <h1 style="text-align: center; padding: 20px;">Contact Us</h1>
    Address: Ashulia, Savar, Dhaka - 1349
    <br>
    Phone: 01911606385
    <br>
    Email: flixmxofficial@gmail.com
    <br>
    <br>
    Visit Other Website:
    <br>
    <a href="https://blog.moviepagol.com">Blog</a>
    <br>
    <a href="https://bmtdb.moviepagol.com">BMTDb</a>
    <br>
    <a href="https://link.moviepagol.com">Direct Link</a>
    <br>
    <a href="https://url.moviepagol.com">URL Shortener</a>
</div>
</div>
{% endblock content %}