{% extends 'app_main/base.html' %}
{% load static %}

{% block title %}Privacy Policy | Movie Pagol | Watch & Download Movies,TV-Series{% endblock title%}
{% block twittertitle %}Privacy Policy | Movie Pagol | Watch & Download Movies,TV-Series{% endblock twittertitle %}
{% block ogtitle %}Privacy Policy | Movie Pagol | Watch & Download Movies,TV-Series{% endblock ogtitle %}
{% block ogtype %}Privacy Policy{% endblock ogtype%}

{% block content %}
<div class="section">
    <div class="container" style="text-align:center">
        <h1 style="text-align: center; padding: 20px;">Privacy Policy</h1>
        Disclaimer : www.moviepagol.com does not host any files on it’s servers. All files or contents hosted on third
        party websites. Movie Pagol does not accept responsibility for contents hosted on third party websites. We just
        index those links which are already available in internet
    </div>
</div>
{% endblock content %}