{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Movie Pagol - 400 Bad request</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" type="text/css" href="{% static 'assets/css/custom_error.css' %}" />
</head>

<body>
  <div class="container">
    <h2>Bad request</h2>
    <h1>400</h1>
    <p>Oops... the page you requested isn't working at this moment.</p>
    <a href="#" onclick="window.history.back();">Go back</a>
    <a href="" class="btn btn-primary">Reload this page</a>
  </div>
</body>

</html>