{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Movie Pagol - 403 Permission denied</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/custom_error.css' %}" />
</head>

<body>
    <div class="container">
        <h2>Permission denied</h2>
        <h1>403</h1>
        <p>You cant access this page without permission</p>
        <a href="#" onclick="window.history.back();">Go back</a>
    </div>
</body>

</html>