{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Movie Pagol - 404 Page not found</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" type="text/css" href="{% static 'assets/css/custom_error.css' %}" />
</head>

<body>
  <div class="container">
    <h2>Oops! Page not found</h2>
    <h1>404</h1>
    <p>We can't find the page you're looking for.</p>
    <a href="#" onclick="window.history.back();">Go back home</a>
  </div>
</body>

</html>